<?xml version='1.0' encoding='utf-8'?>
<!--
This is a created context file to assist with Tomcat deployment.
You probably want to put this somewhere like:

$CATALINA_HOME/conf/Catalina/localhost/
-->

<Context path="" docBase="{{webapp_directory}}/tracker-java-restlet-{{tracker_version}}.war" reloadable="true">
  <Valve className="org.apache.catalina.valves.AccessLogValve"
         prefix="localhost_access_log." suffix=".txt"
         pattern="common"/>

  <!-- Context initialization parameters -->
  <Parameter name="spring.profiles.active"
             value="default,ldap_authentication"
             override="false"/>

  <!-- Resources -->
  <Resource name="jdbc/TrackerDB"
            type="javax.sql.DataSource"
            auth="Container"
            description="Tracker Database"
            driverClassName="com.mysql.jdbc.Driver"
            url="jdbc:mysql://{{mysql_database_host}}:{{mysql_database_port}}/{{mysql_database_name}}?sessionVariables=sql_mode=&apos;ansi,strict_all_tables&apos;"
            username="{{mysql_database_user}}"
            password="{{mysql_database_password}}"
            testOnBorrow="true"
            validationQuery="SELECT 1"
            timeBetweenEvictionRunsMillis="120000"
            minEvictableIdleTimeMillis="120000"
  />
</Context>
